[submodule "external/tinygltf"]
	path = external/tinygltf
	url = https://github.com/syoyo/tinygltf.git
[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "external/SPIRV-Cross"]
	path = external/SPIRV-Cross
	url = https://github.com/KhronosGroup/SPIRV-Cross.git
